.outer{
    overflow: hidden;
    border: 5px double rgb(141, 141, 141);
    height: 500px;
    width: 500px;
    border-radius: 100%;
    margin-top: 3vw;
    position: relative;
    background-color: black;
}
.outerCircle2{
    height: 475px;
    width: 475px;
    border-radius:100%;
    z-index: 2;
    position: absolute;
    top: 0px;
    left: -15px;
    border-width: 50px;
    border-style: solid;
    animation: spin2 infinite 2000ms linear reverse;
    border-color:  rgba(255, 0, 0, 0.616) transparent;
}
.innerCircle2{
    height: 450px;
    width: 450px;
    border-radius:100%;
    z-index: 2;
    position: absolute;
    top: 20px;
    left: 15px;
    border-width: 10px;
    border-style: dashed;
    animation: spin2 infinite 1000ms linear;
    border-color:  rgb(25, 0, 255) transparent;
}
.innerCircle1{
    height: 400px;
    width: 400px;
    border-radius:100%;
    z-index: 2;
    position: absolute;
    top: 40px;
    left: 35px;
    border-width: 15px;
    border-style:double;
    animation: spin2 infinite 500ms linear 500ms reverse ;
    border-color:  rgba(30, 255, 0, 0.459) transparent;
    /* background-image: linear-gradient(rgb(139, 30, 48),rgb(78, 10, 78)); */
}
@keyframes spin2{
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}
@keyframes spin {
    0%
    {
        rotate: 0deg;
    }
    25%{
        rotate: -45deg;
    }
    50%
    {
        rotate: 45deg;
    }
    75%{
      rotate: -90deg;
    }
    100%
    {
        rotate: 360deg;
    }
    
}
*{
    margin: 0;
    padding: 0;
}
body{
    align-content: center;
display: flex;
justify-content: center;
background-color: black;
color: white;
}
.hand{
    transform-origin: top left;
}
#seconds-hand
{
    z-index: 25;
    position: relative;
    top: 250px;
    left: 250px;
    border: 1px solid rgb(255, 0, 0);
    width: 180px;
}
#minute-hand{
    z-index: 18;
    position: relative;
    border: 1px solid rgb(0, 255, 85);
    top:250px;
    width: 150px;
    left: 250px;
}
#hour-hand{
    z-index: 20;
    position: relative;
    border: 1px solid rgb(68, 0, 255);
    top:250px;
    width: 100px;
    left: 249px;
}
.centerCircle
{
    z-index: 29;
    position: relative;
    border: 1px solid black;
    top:235px;
    width: 20px;
    height: 20px;
    background-color: rgb(208, 255, 0);
    border-radius: 100%;
    left: 240px;
}